aiofiles==0.7.0
aiohttp==3.7.4.post0
altgraph==0.17.2
async-timeout==3.0.1
attrs==21.2.0
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.10.0
boltons==21.0.0
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.6
conda==4.3.16
distlib==0.3.3
filelock==3.0.12
fire==0.4.0
idna==3.2
multidict==5.1.0
pipenv==2021.5.29
platformdirs==2.4.0
pycosat==0.6.3
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
PyYAML==5.4.1
requests==2.26.0
ruamel.yaml==0.17.16
ruamel.yaml.clib==0.2.6
six==1.16.0
soupsieve==2.2.1
termcolor==1.1.0
typing-extensions==3.10.0.2
urllib3==1.26.7
virtualenv==20.8.1
virtualenv-clone==0.5.7
yarl==1.6.3
